[submodule "Chapter-3/audiofile"]
	path = Chapter-3/audiofile
	url = https://github.com/marianina8/audiofile
[submodule "Chapter-4/audiofile-cli"]
	path = Chapter-4/audiofile-cli
	url = git@github.com:marianina8/audiofile-cli.git
