[submodule "Chapter-3/audiofile"]
	path = Chapter-3/audiofile
	url = https://github.com/marianina8/audiofile
[submodule "Chapter-4/Chapter-4"]
	path = Chapter-4/Chapter-4
	url = https://github.com/marianina8/Chapter-4
[submodule "Chapter-6/Chapter-6"]
	path = Chapter-6/Chapter-6
	url = https://github.com/marianina8/Chapter-6
