[submodule "Chapter-4/Chapter-4"]
	path = Chapter-4/Chapter-4
	url = https://github.com/marianina8/Chapter-4
[submodule "Chapter-6/Chapter-6"]
	path = Chapter-6/Chapter-6
	url = https://github.com/marianina8/Chapter-6
[submodule "Chapter-4/audiofile"]
	path = Chapter-4/audiofile
	url = https://github.com/marianina8/audiofile
	branch = Chapter-4
[submodule "Chapter-6/audiofile"]
	path = Chapter-6/audiofile
	url = https://github.com/marianina8/audiofile
	branch = Chapter-6
[submodule "Chapter-2/Chapter-2"]
	path = Chapter-2/Chapter-2
	url = https://github.com/marianina8/Chapter-2
[submodule "Chapter-7/Chapter-7"]
	path = Chapter-7/Chapter-7
	url = https://github.com/marianina8/Chapter-7
[submodule "Chapter-7/audiofile"]
	path = Chapter-7/audiofile
	url = https://github.com/marianina8/audiofile
	branch = Chapter-7
[submodule "Chapter-8/Chapter-8"]
	path = Chapter-8/Chapter-8
	url = https://github.com/marianina8/Chapter-8
[submodule "Chapter-8/audiofile"]
	path = Chapter-8/audiofile
	url = https://github.com/marianina8/audiofile
	branch = Chapter-8
[submodule "Chapter-9/Chapter-9"]
	path = Chapter-9/Chapter-9
	url = https://github.com/marianina8/Chapter-9
[submodule "Chapter-9/audiofile"]
	path = Chapter-9/audiofile
	url = https://github.com/marianina8/audiofile
	branch = Chapter-9
[submodule "Chapter-10/audiofile"]
	path = Chapter-10/audiofile
	url = https://github.com/marianina8/audiofile
	branch = Chapter-10
[submodule "Chapter-10/Chapter-10"]
	path = Chapter-10/Chapter-10
	url = https://github.com/marianina8/Chapter-10
[submodule "Chapter-11/audiofile"]
	path = Chapter-11/audiofile
	url = https://github.com/marianina8/audiofile
	branch = Chapter-11
[submodule "Chapter-12/audiofile"]
	path = Chapter-12/audiofile
	url = https://github.com/marianina8/audiofile
	branch = Chapter-12
[submodule "Chapter-13/audiofile"]
	path = Chapter-13/audiofile
	url = https://github.com/marianina8/audiofile
	branch = Chapter-13
[submodule "Chapter-13/Chapter-13"]
	path = Chapter-13/Chapter-13
	url = https://github.com/marianina8/Chapter-13
[submodule "Chapter-4/Chapter-4-Demo"]
	path = Chapter-4/Chapter-4-Demo
	url = https://github.com/marianina8/Chapter-4-Demo/
[submodule "Chapter-3/audiofile"]
	path = Chapter-3/audiofile
	url = https://github.com/marianina8/audiofile
	branch = main
[submodule "Chapter-14/audiofile"]
	path = Chapter-14/audiofile
	url = https://github.com/marianina8/audiofile
	branch = Chapter-14
